<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097782136696-c8oo4h15u9s9reu92pk5g1a9imnml794.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097782136696-c8oo4h15u9s9reu92pk5g1a9imnml794</string>
	<key>API_KEY</key>
	<string>AIzaSyCGNRjEtE9_B5Is4odsKHzm1IIBURElyU0</string>
	<key>GCM_SENDER_ID</key>
	<string>1097782136696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DailyReport-V1</string>
	<key>PROJECT_ID</key>
	<string>daily-report-8d36f</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-report-8d36f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097782136696:ios:1be514bdcb8d3e610a428d</string>
</dict>
</plist>